/*
---
name: input text field
category:
  - atoms/textfield
compile: true
---


```ejs
  <%- include('/components/atoms/textfield/_textfield', {modifiers: ['top']})  %>

```

*/

.a-textfield {
  background: #f9f9f9;
}
