doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(href=root + 'aigis_assets/css/highlight/okadia.css', rel='stylesheet')
    link(href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(href="/assets/css/style.css", rel='stylesheet')
    link(href=root + 'aigis_assets/css/theme.css', rel='stylesheet')
    script(src="/assets/js/libs/autosize.min.js")
    script(src="/assets/js/libs/class.js")
    script(src="/assets/js/libs/bowser.min.js")
    script(src="/assets/js/libs/jquery-3.2.1.min.js")
    script(src="/assets/js/libs/jquery.ba-throttle-debounce.min.js")
    script(src="/assets/js/libs/jquery.powertip.min.js")
    script(src="/assets/js/libs/Chart.bundle.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js")
    script(src="/assets/js/libs/parsley.min.js")
    script(src="/assets/js/libs/jquery.fn.sortable.min.js")
    script(src="/assets/js/libs/jquery.dotdotdot.min.js")
    script(src="/assets/js/libs/swiper.jquery.min.js")
    script(src="/assets/js/libs/velocity.min.js")
    script(src="/assets/js/libs/jquery.floatThead.js")
    script(src="/assets/js/libs/jquery.scrolltabs.js")
    script(src="/assets/js/libs/jquery.matchHeight-min.js")
    script(src="/assets/js/libs/jquery.mockjax.js")
    script(src="/assets/js/libs/jquery.mousewheel.js")
    script(src="/assets/js/libs/mustache.min.js")
    script(src="/assets/js/settings/const.settings.js")
    script(src="/assets/js/settings/chartjs.settings.js")
    script(src="/assets/js/settings/mockjax.settings.js")
    script(src="/assets/js/settings/parsley.settings.js")
    script(src="/assets/js/common.js")

  body
    .aigis-container
      include ./sidemenu
      .aigis-contents
        .aigis-contents__body
          include ./components
          footer.aigis-footer Last update at #{timestamp}
