<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- meta -->
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="robots" content="noindex,nofollow" />
  <title>placeholder</title>
  <link rel="stylesheet" href="/assets/css/app.css" />
  <script src="/assets/js/app.js"></script>
</head>
<body>
